*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Source Code Pro", monospace;
}

body {
  min-height: 100vh;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: sticky;
  top: 0;
  left: 0;
}
header nav.topbar ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
header nav.topbar ul li {
  display: flex;
  align-items: center;
}
header nav.topbar ul li a.active {
  color: cadetblue;
}
header nav.topbar ul li a {
  padding-left: 2rem;
  font-size: 1.2rem;
  color: black;
  transition: all 0.25s ease;
}
header nav.topbar ul li a:hover {
  color: cadetblue;
}
header nav.topbar ul li svg {
  position: fixed;
  top: 1rem;
  right: 2rem;
  display: none;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 0%;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(1.7px);
          backdrop-filter: blur(1.7px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}
.sidebar ul {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.sidebar ul li {
  padding-bottom: 2rem;
}
.sidebar ul li a.active {
  color: cadetblue;
}
.sidebar ul li a {
  font-size: 1.2rem;
  color: black;
  transition: all 0.25s ease;
}
.sidebar ul li a:hover,
.sidebar ul li a:active {
  color: cadetblue;
}
.sidebar ul li svg {
  position: relative;
  top: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  body {
    height: 100%;
  }
  .topbar ul li a {
    display: none;
  }
  #navIcon {
    display: block;
  }
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
main p {
  text-shadow: 0.4px 1.2px 0.2px rgb(177, 177, 177);
}
main section.about-left {
  margin: 5em 0em;
  width: 55%;
  animation: slideDown 1s ease;
}
main section.about-left h1 {
  margin: 0.5em 0em;
  text-align: center;
}
main section.about-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 0em;
}
main section.about-right section.right-top img {
  width: 200px;
  border-radius: 50%;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  animation: scaleUp 1s ease;
}
main section.about-right section.right-bottom {
  margin-top: 2em;
  animation: slideDown 1s ease;
}
main section.about-right section.right-bottom h1 {
  margin: 0.5em 0em;
  font-size: 1.5em;
  text-align: center;
}

@media screen and (max-width: 1260px) {
  main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main section.about-left {
    width: auto;
    margin: 2em 4em;
  }
  main section.about-right {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 5em;
  }
  main section.about-right section.right-bottom {
    margin-top: 0;
  }
  main section.about-right img {
    margin: 0em 10em;
  }
}
@media screen and (max-width: 1050px) {
  main section.about-right img {
    margin: 0em 5em;
  }
}
@media screen and (max-width: 870px) {
  main section.about-right {
    flex-direction: column;
    margin: 0em 0em;
  }
  main section.about-right section.right-bottom {
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 5em;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.6);
  }
  main section.about-right img {
    margin: 0em 5em;
  }
}
@media screen and (max-width: 500px) {
  main section.about-left {
    margin: 1em 2em;
  }
  main section.about-right section.right-bottom {
    margin: 0;
    padding: 2em 2em;
    background-color: rgba(255, 255, 255, 0.6);
  }
  main p {
    font-size: 0.8em;
  }
}
@keyframes scaleUp {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}/*# sourceMappingURL=about.css.map */