*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Source Code Pro", monospace;
}

body {
  min-height: 100vh;
  background-color: black;
  color: white;
}

p {
  text-align: center;
  margin: 1em 0em;
  font-size: 1.5rem;
}

#item1 {
  background: url(../images/todo.png);
  background-size: cover;
  background-position: center;
}

#item2 {
  background: url(../images/drum.jpg);
  background-size: cover;
  background-position: center;
}

#item3 {
  background: url(../images/snake.jpeg);
  background-size: cover;
  background-position: center;
}

#item4 {
  background: url(../images/dice.jpg);
  background-size: cover;
  background-position: center;
}

#item5 {
  background: url(../images/mole.png);
  background-size: cover;
  background-position: center;
}

#item6 {
  background: url(../images/map.png);
  background-size: cover;
  background-position: center;
}

#item7 {
  background: url(../images/bankist-2.png);
  background-size: cover;
  background-position: center;
}

#item8 {
  background: url(../images/bankistapp.png);
  background-size: cover;
  background-position: center;
}

/* grid item hover effect */
.grid-item {
  position: relative;
  div.overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 123, 0, 0.8);
    opacity: 0;
    transition: 0.3s;
    h1.title {
      padding: 0.6em 0em;
      text-align: center;
    }
    a.view {
      border: 2px #fff solid;
      color: #fff;
      padding: 0.6em 1.3em;
      font-weight: bold;
      transition: 0.3s;
    }
  }
}

.grid-item:hover,
.grid-item:active {
  .overlay {
    opacity: 1;
  }
}

.view:hover,
.view:active {
  background: rgba(255, 255, 255, 0.5);
}

/* header style*/
header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0.5em 0em;
  svg {
    margin: 0em 2em;
  }
  h1 {
    font-size: clamp(1.3em, 2vw, 2em);
  }
}

/* grid style*/
.grid-container {
  margin: 3em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
  grid-auto-rows: 15vw;
  //aspect-ratio: 4/3;
  grid-gap: 1.6em;
}

@media screen and (max-width: 900px) {
  p {
    font-size: 1.3em;
  }
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(35vw, 1fr));
    grid-auto-rows: 26vw;
  }
}

@media screen and (max-width: 620px) {
  header {
    svg {
      margin: 0em 1em;
    }
  }
  p {
    font-size: 1em;
  }
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(75vw, 1fr));
    grid-auto-rows: 56vw;
  }
}
